# Directories #
lib
bin
doc
build
enc_temp_folder

# Temporary
*~
*.tlog
Valgrind*
CppCheckResults*

# Build
*.exp
*.ncb
*.suo
*.user
*.pdb
*.sdf
*.opensdf
*.opendb
*.layout
*.cbTemp
*.depend
*.log
*.ilk
*.idb
*.db
.vs


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
